body {
  font-family: "Outfit", sans-serif;
  background-image: url(../imagens/fundo-site.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0,9375rem;
  padding-top: 3,125rem;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cabecalho .pokebola {
    width: 3rem;
    height: 3rem;
}

.pokemon-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 3,75rem 0;
}

.lista-pokemons {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351FE;
}

.cartao {
    opacity: 0;
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;    
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url(../imagens/fundo-card-1.jpg) no-repeat;
}

.fundo-2 {
    background: url(../imagens/fundo-card-2.jpg) no-repeat;
}

.fundo-3 {
    background: url(../imagens/fundo-card-3.jpg) no-repeat;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cartao .informacoes .nome {
    color: #f1ecff;
    font-size: 22px;
}

.cartao .informacoes .vida {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

.cartao .container-imagem {
    text-align: center;
}

.cartao .imagem-pokemon {
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

.cartao .descricao {
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 0,625rem;
    border-bottom-right-radius:0,625rem;
}

.cartao .descricao .titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 0,9375rem;
    padding: 0,75rem;
}

.cartao .descricao .texto {
    font-size: 0,875rem;
    padding: 0,75rem;
    text-align: justify;
    max-height: 7,1875rem;
    overflow-y: auto;
}
